@page "/weather"

<PageTitle>Weather</PageTitle>

@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using OBuoy.Entities.Location
@using OBuoy.Features.Marine.SwellViewComponent
<PageTitle>Home</PageTitle>

<div class="weather-display-container">
    <div class="map-container">
        <GoogleMap @ref="@_gmap" Height="600px" Id="gmap" Options="@mapOptions" OnAfterInit="@AddEventListeners"></GoogleMap>
    </div>
    <div class="swell-container">
        <SwellView @ref="@swellView" Location="@userLocation"></SwellView>
    </div>
    
</div>



@code {
    UserLocation userLocation = new UserLocation() { Latitude = 28.39, Longitude = -86.49 };
    SwellView swellView;
    GoogleMap _gmap = default!;
    MapOptions mapOptions = new()
        {
            Zoom = 5,
            Center = new LatLngLiteral()
            {
                Lat = 28.39,
                Lng = -86.49
            },
            MapTypeId = MapTypeId.Satellite,
        };


    async void AddEventListeners()
    {
        if (_gmap is { InteropObject: not null })
            await _gmap.InteropObject.AddListener<MouseEvent>("click", async (e) => await OnMapClick(e));
    }

    async Task OnMapClick(MouseEvent e)
    {
        LatLngLiteral latLng = e.LatLng;
        userLocation.Latitude = latLng.Lat;
        userLocation.Longitude = latLng.Lng;
        await swellView.LoadNewLocation(userLocation);
        StateHasChanged();
    }
}
